<div class="animated fadeIn">
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
            Drone Registry
        </div>
        <div class="card-body">
          <div class="row">
              <div class="col-lg-12" *ngIf="drones$ | async as drones; else loading">
  
  
  <table class="table table-responsive-sm table-hover table-outline mb-0">
    <thead class="thead-light">
      <tr>
        <th>Drone Id</th>
        <th>Name</th>
        <th class="text-center">Current Generation</th>
        <th class="text-center">Active</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of drones">
        <td>
          {{ d.droneId }}
        </td>
        <td>
          {{ d.name }}
        </td>
        <td class="text-center">
          {{ d.currentGeneration }}
        </td>
        <td class="text-center">
            <i *ngIf="d.isActive" class="fa fa-check-circle fa-lg is-active"></i>
            <i *ngIf="!d.isActive" class="fa fa-check-circle fa-lg is-inactive"></i>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
</div>


<ng-template #loading>
    <div class="container-fluid text-center">
      <h4 class="text-center">Loading Drone Registry</h4>
      <img src="../../../assets/img/loading-shieldai.gif" alt="Loading..." class="center-block img-responsive" />
    </div>
</ng-template>
</div>