<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: '//static1.squarespace.com/static/5a7d4755cd39c312ff232cce/t/5b1808cd8a922d267845c0a7/1551419480801/?format=1500w', width: 94, height: 25, alt: 'ShieldAI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/shieldai-logo.png', width: 30, height: 30, alt: 'ShieldAI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'"
  >
  
  <ul class="nav navbar-nav d-md-down-none">
  </ul>
  <ul class="nav navbar-nav ml-auto">
  </ul>

</app-header>
<div class="app-body">
  <app-sidebar [fixed]="false" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <!--<app-sidebar-minimizer></app-sidebar-minimizer>-->
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
      <!-- Breadcrumb Menu-->
    </ol>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>

</div>
<app-footer>
  <span><a href="https://coreui.io">CoreUI</a> &copy; 2018 creativeLabs.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span>
</app-footer>
