<div class="animated fadeIn" *ngIf="metrics">
  <div class="row">
      <div class="col-6 col-lg-4">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i class="fa fa-bell bg-primary p-4 px-5 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 pt-3">{{ metrics.flightCount }}</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Total Flights</div>
          </div>
          <div class="card-footer px-3 py-2">
              <a class="font-weight-bold font-xs btn-block text-muted" href="#/flight-log">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
            </div>
        </div>
      </div><!--/.col-->

      <div class="col-6 col-lg-4">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i class="fa fa-bell bg-info p-4 px-5 font-2xl mr-3 float-left"></i>
            <div class="h5 text-info mb-0 pt-3">{{ metrics.firstFlight }}</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">First Flight</div>
          </div>
          <div class="card-footer px-3 py-2">
              <a class="font-weight-bold font-xs btn-block text-muted" href="#/flight-log">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
            </div>
        </div>
      </div><!--/.col-->

        <div class="col-6 col-lg-4">
          <div class="card">
            <div class="card-body p-0 clearfix">
              <i class="fa fa-bell bg-warning p-4 px-5 font-2xl mr-3 float-left"></i>
              <div class="h5 text-warning mb-0 pt-3">{{ metrics.mostRecentFlight }}</div>
              <div class="text-muted text-uppercase font-weight-bold font-xs">Latest Flight</div>
            </div>
            <div class="card-footer px-3 py-2">
                <a class="font-weight-bold font-xs btn-block text-muted" href="#/flight-log">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
              </div>
          </div>
        </div><!--/.col-->
  </div><!--/.row-->

  <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="brand-card">
          <div class="brand-card-header bg-facebook">
            <!--<i class="fa fa-facebook"></i>&nbsp;-->
            <h4 class="card-title">Busiest Drone</h4>
          </div>
          <div class="brand-card-body">
            <div>
              <div class="text-value">{{ metrics.busiestDroneName }}</div>
              <div class="text-uppercase text-muted small">drone</div>
            </div>
            <div>
              <div class="text-value">{{ metrics.busiestDroneMissions }}</div>
              <div class="text-uppercase text-muted small">missions</div>
            </div>
          </div>
        </div>
      </div><!--/.col-->

      <div class="col-sm-6 col-lg-3">
        <div class="brand-card">
          <div class="brand-card-header bg-twitter">
            <!--<i class="fa fa-twitter"></i>&nbsp;-->
            <h4 class="card-title">Laziest Drone</h4>
          </div>
          <div class="brand-card-body">
            <div>
              <div class="text-value">{{ metrics.laziestDroneName }}</div>
              <div class="text-uppercase text-muted small">drone</div>
            </div>
            <div>
              <div class="text-value">{{ metrics.laziestDroneMissions }}</div>
              <div class="text-uppercase text-muted small">missions</div>
            </div>
          </div>
        </div>
      </div><!--/.col-->


      <div class="col-sm-6 col-lg-3">
          <div class="brand-card">
            <div class="brand-card-header bg-linkedin">
              <!--<i class="fa fa-linkedin"></i>&nbsp;-->
              <h4 class="card-title">Busiest Generation</h4>
            </div>
            <div class="brand-card-body">
              <div>
                <div class="text-value">{{ metrics.busiestGeneration }}</div>
                <div class="text-uppercase text-muted small">generation</div>
              </div>
              <div>
                <div class="text-value">{{ metrics.busiestGenerationMissions }}</div>
                <div class="text-uppercase text-muted small">missions</div>
              </div>
            </div>
          </div>
        </div><!--/.col-->

        <div class="col-sm-6 col-lg-3">
          <div class="brand-card">
            <div class="brand-card-header bg-google-plus">
              <!--<i class="fa fa-google-plus"></i>&nbsp;-->
              <h4 class="card-title">Duration Minutes</h4>
            </div>
            <div class="brand-card-body">
              <div>
                <div class="text-value">{{ metrics.lowestDuration }}</div>
                <div class="text-uppercase text-muted small">shortest</div>
              </div>
              <div>
                <div class="text-value">{{ metrics.hightestDuration }}</div>
                <div class="text-uppercase text-muted small">longest</div>
              </div>
            </div>
          </div>
        </div><!--/.col-->

  </div><!--/.row-->
</div>
